@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: gainsboro;
  background: #1e1e1e;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px theme("colors.soft-black") inset;
    -webkit-text-fill-color: theme("colors.white");
  }

  /* Sobrescrevendo a classe base do toast */
  .Toastify__toast {
    background-color: #1e293b !important; /* Cor de fundo */
    color: white !important; /* Cor do texto */
    border-radius: 8px !important; /* Bordas arredondadas */
    font-size: 16px !important; /* Tamanho da fonte */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3) !important; /* Sombra */
  }

  /* Sucesso */
  .Toastify__toast--success {
    background-color: #22c55e !important; /* Cor de fundo de sucesso */
  }

  /* Erro */
  .Toastify__toast--error {
    background-color: #ef4444 !important; /* Cor de fundo de erro */
  }

  /* Informação */
  .Toastify__toast--info {
    background-color: #3b82f6 !important; /* Cor de fundo de informação */
  }

  /* Aviso */
  .Toastify__toast--warning {
    background-color: #f59e0b !important; /* Cor de fundo de aviso */
  }

  @keyframes modalIn {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes modalOut {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.9);
    }
  }

  @layer components {
    .modal-content {
      @apply opacity-0 scale-90;
    }

    .modal-overlay {
      background: transparent !important; /* Remove o fundo */
    }

    .ReactModal__Overlay--after-open .modal-content {
      animation: modalIn 0.3s ease-out forwards;
    }

    .ReactModal__Overlay--before-close .modal-content {
      animation: modalOut 0.3s ease-in forwards;
    }
  }
}
